* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(150px, 500px));
    grid-template-rows: 100px 500px 150px;
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas:
        "header header header"
        "blog blog ads"
        "footer footer footer";
    gap: 5px;
}

.grid-element {
    color: rgb(0, 0, 0);
    line-height: 50px;
    text-align: center;
    font-size: 26px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-image: initial;
    border-radius: 4px;
}
.ceil {
    background-color:white;
}
#header{
    grid-area: header;
    background-color: grey;
}

#ads{
    grid-area: ads;
    background-color: green;
}

#blog{
    grid-area: blog;
    background-color: orange;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 50px;
    padding: 20px 10px 20px 10px;
}

#footer{
    grid-area: footer;
    background-color: grey;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    padding: 20px 10px 20px 10px;
}

.grid-element-ceil-0{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}
.grid-element-ceil-1{
    background-color: beige;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.grid-element-ceil-2 {
    background-color: beige;
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.grid-element-ceil-3 {
    background-color: beige;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;

}
